<%= form_for @announce, :html => { :class => "form-horizontal announce", :multipart => true} do |f| %>

  <% if @announce.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@announce.errors.count, "error") %> prohibited this announce from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @announce.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :price, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :price, :class => 'form-control' %>
    </div>
    <%=f.error_span(:price) %>
  </div>
  <div class="form-group">
    <%= f.label :title, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <%=f.error_span(:title) %>
  </div>

    <div class="form-group">
      <%= f.label 'Category', :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <input type="hidden" value="<%= @id %>" id="category_id_hidden" />
        <select name="category_id" id="category_id">
          <% @categories.each do |category| %>
              <option value="<%= category[0] %>"><%= category[1] %></option>
          <% end %>
        </select>
      </div>
    </div>
    <!--<div class="form-group">-->
      <!--<%= f.label 'Subcategory', :class => 'control-label col-lg-2' %>-->
      <!--<div class="col-lg-10">-->
        <!--<select name="subcategory_id" id="subcategory_id">-->

        <!--</select>-->
      <!--</div>-->
    <!--</div>-->


  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%=f.error_span(:description) %>
  </div>
  <div class="form-group">
    <%= f.label :email, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :email, :class => 'form-control' %>
    </div>
    <%=f.error_span(:email) %>
  </div>
  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :phone, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :phone, :class => 'form-control' %>
    </div>
    <%=f.error_span(:phone) %>
  </div>

    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <%= f.file_field :avatar %>
      </div>
    </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                root_path, :class => 'btn btn-default' %>
    </div>
  </div>


<% end %>
